PORT=2500
#sql
SQL_USER_PASSWORD1=
SQL_USER_NAME1=postgres
SQL_HOST1=localhost
# local
SQL_HOST=localhost
SQL_USER_PASSWORD=
SQL_USER_NAME=postgres
DATABASE_NAME=dairy_farm
SQL_PORT=5432
DIALECT=postgres
# JWT SECRET
JWT_SECRET=
JWT_TOKEN_EXPIRY=1d
# base url
APP_BASE_URL=http://localhost:2500
